@model IEnumerable<MobileStoreConnection.Product>

@{
    ViewBag.Title = "Home Page";
}
<div class="wrap">
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src="~/Asset/images/1.png" alt=""></li>
            <li><img src="~/Asset/images/2.png" alt=""></li>
            <li><img src="~/Asset/images/1.png" alt=""></li>
        </ul>
        <!-- Slideshow 2 -->
    </div>
    <!--End-image-slider---->
</div>
<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="top-3-grids">
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="single.html"><img src="~/Asset/images/grid-img1.jpg"></a>
                    <h3>Lorem Ipsum is simply dummy text </h3>
                </div>
                <div class="grid_1_of_3 images_1_of_3 second">
                    <a href="single.html"><img src="~/Asset/images/grid-img2.jpg"></a>
                    <h3>Lorem Ipsum is simply dummy text </h3>
                </div>
                <div class="grid_1_of_3 images_1_of_3 theree">
                    <a href="single.html"><img src="~/Asset/images/grid-img3.jpg"></a>
                    <h3>Lorem Ipsum is simply dummy text </h3>
                </div>
            </div>
        </div>

        <div class="content-grids">
            <h4>Deals of the day</h4>
            <div class="section group">
                @foreach(var item in Model)
                {
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Asset/images/@item.Image">
                   
                    <a href="@Url.Action("Details", new {Id = 1})">@item.Name</a>
                    <h3>@item.Price</h3>
                    <ul>
                        <li><a class="cart" href="single.html"> </a></li>
                        <li><a class="i" href="single.html"> </a></li>
                        <li><a class="Compar" href="single.html"> </a></li>
                        <li><a class="Wishlist" href="single.html"> </a></li>
                    </ul>
                </div>
                }


            </div>
            <div class="section group">
                @foreach (var item in Model)
                {
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Asset/images/@item.Image">
                        <a href="@Url.Action("Details", new {Id = 1 })">@item.Name</a>
                        <h3>@item.Price</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Compar" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                }
            </div>

        </div>
        <div class="content-sidebar">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Tablet</a></li>
                <li><a href="#">Adroid</a></li>
                <li><a href="#">iOS</a></li>
                <li><a href="#">Windows Phone</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"> </div>
</div>